* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
}
.container {
  max-width: 1100px;
  margin: 1rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  color: #fff;
}
.card {
  width: 410px;
  height: 540px;
  border: 0.1rem solid #000;
  margin: 1rem auto;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  background-color: #fff;
  color: #000;
  position: relative;
}
.head {
  height: 55%;
}
.body {
  height: 45%;
}
.heading {
  font-size: 2rem;
  font-weight: bolder;
}

.score {
  max-width: 100px;
  margin: 0.2rem auto;
  height: 100px;
  padding: 0.1rem;
  background-color: #90342b;
  border: none;
  border-radius: 50%;
  position: relative;
}
.score > p {
  position: absolute;
  top: 39%;
  left: 0.5rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
}
.currentQuestion {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0.5rem;
}
.question {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.btn {
  border: none;
  margin: 0.4rem;
  padding: 0.5rem 1rem;
  width: 80%;
  font-size: 1rem;
  background-color: #2f4e6f;
  color: #fff;
  border: 0.1rem solid #2f4e6f;
  /* border-radius: 2rem; */
  transition: 0.15s;
  cursor: pointer;
}
.btn:hover {
  background-color: #fff;
  color: #000;
  border: 0.1rem solid #000;
}
.left {
  position: absolute;
  width: 20%;
  left: 1rem;
  bottom: 1rem;
}
.right {
  position: absolute;
  width: 20%;
  right: 1rem;
  bottom: 1rem;
}
.center {
  position: absolute;
  width: 40%;
  right: 28%;
  bottom: 2rem;
}
